*{
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

        body{
            background-color: #f1f1f1;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            
        }

        a{
            text-decoration: none;
            color: inherit;
        }

        p{
            padding: 10px 0;
        }

        i {
            font-size: 1.25rem;
            color: #B5B5C3;
            padding: 10px 10px;
            margin-right: auto;

        }


        header{
            background-color: rgb(36, 36, 58);
            position: sticky;
            top: 0;
            z-index: 99;
        }


        .topbar .logo
        {
        display: block;
        text-align: center;
        padding: 20px 0;
        }

        .topbar .logo a img{
        height: 25px;
        width: 50px;
        }
        nav{
        text-align: center;
        }
        nav li{
            display: inline-block;
        }
        nav li a{
        
        display: block;
        padding: 15px 8px 25px;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.726);
        }

        nav li a:hover,
        nav li a:active{
            color: #fff;
        }

        .main{
            padding: 0 15px;
            max-width: 1080px;
            margin: auto;
            justify-content: center;
        }
        .main .left-side-nav{
            margin: 20px 0;
            
        }
        .main .left-side-nav ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
        }

        .main .left-side-nav li{
            list-style: none;
            width: 50%;   
            margin-bottom: 5px;
        }

        .main .left-side-nav li .active{
            background-color: #fff;
        }
        .main .left-side-nav li a{
            font-size: 14px;
            display: block;
        }

        .card{
            background-color: #fff;
            margin-bottom: 20px;
            
        

        }

        .card .card-title{
        padding: 20px 20px 0px;
        display: flex;
        align-items: center;
        position: relative;
            }

        .card .card-title img{
        height: 60px;
        width: 60px;
        border-radius: 50px;
        margin-right: 20px;
        }

        .card-title .user-name{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 5px;
        }

        .card-title .online{
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            transform: translate(4rem, 1.35rem);
            padding: 0;
            color: rgb(23, 206, 106);
            font-size: 10px;
        }

        .card-title .date{
            font-size: 16px;
            font-weight: 300;
            color: #B5B5C3;
        }

        .card-title .date i{
            padding: 0 10px 0 0;
            font-size: 16px;
        }

        .card-body img{
            
            padding: 20px;
            height: auto;
            width: 100%;
        }

        .card-body .body-content{
            
            padding: 20px;
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.555);
            line-height: 1.5rem;
        }

        .card .card-footer{
            
            padding:10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f8f8fd;
            border-top: 1px solid rgb(226, 226, 226);
        }

        .card-footer .icon:hover{
            color: rgba(27, 26, 26, 0.664);
            font-size: 1.5rem;
            transition: 0.4s;
        }

    

        .suggestion-box-title{
            padding: 20px 0 10px;
            border-bottom: 1PX solid gray;
            margin-bottom: 10px;
        }
           .suggestion-item{
           margin: 25px 0;
            }

           .suggestion-item img{
            height: 70px;
            width: 70px;
            margin-right: 20px;
            float: left;
            }
            

            .suggestion-item .items .name{
             font-size: 1.4;
             font-weight: 600;
             margin-bottom: 2px;
            }

            .items .friends{
                font-size: 0.9rem;
                color: #9a9aa1;
                font-weight: 300;
               }
        
            .items .add i {
            padding: 0 10px 0 0;
            font-size: 0.8rem;
            margin-top: 1rem;
         }

         .items .add{
            font-size: 14px;
         }






@media only screen and (min-width: 991px) {

   
        .topbar{
            display: flex;
            justify-content: space-between;
            padding:0 20px;
        }

        .topbar .logo img{
            height: 30px;
            width: auto ;
        }

        nav{
            align-self: center;
        }

        .main .left-side-nav li{
           width: auto;
            }

        nav li a{
        padding: 10px 25px;
        font-size: 16px;
        }

        .main .left-side-nav li a:hover{
           color: black;
           background-color: #fff;
        }

        .main .left-side-nav ul{
            display: block
            
        }

        .main{
            display: grid;
            grid-template-columns: repeat(32, 1fr);
        }

        .left-aside{
            grid-column: span 6;
            
        }

        .content{
            grid-column: span 18;
            margin: 20px 20px;
        }

        .right-aside{
            grid-column: span 8;
            margin: 20px 0;
        }


    
}
